<div fxLayout="column" fxLayoutAlign="center center">
  <mat-selection-list #players style="margin-top: 20px" dense class="full-width">
    <h3 matSubheader>Footballers: </h3>
    <mat-list-option *ngFor="let player of playersList | async" [value]="player">
      {{ player.name }}
    </mat-list-option>
  </mat-selection-list>
  <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
    <button mat-raised-button color="warn" [disabled]="players.selectedOptions.selected.length < 4" (click)="randomize()">Randomize</button>
    <a mat-raised-button color="warn" [routerLink]="['/timer']" *ngIf="redTeam && blueTeam" [style.margin-left.px]="10">Timer</a>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" [style.margin-top.px]="20" class="full-width">
    <mat-card *ngIf="redTeam" style="background: #f44336">
      <mat-card-title *ngFor="let item of redTeam.players">{{ item.name }}</mat-card-title>
    </mat-card>
    <mat-card *ngIf="blueTeam" style="background: blue">
      <mat-card-title *ngFor="let item of blueTeam.players">{{ item.name }}</mat-card-title>
    </mat-card>
  </div>
</div>