<mat-toolbar color="warn">
    <span>Tiac Fuca</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/home']">Randomizer</button>
        <button mat-menu-item [routerLink]="['/players']">Players</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>